/*color*/
$primaryGreen: #3F5D45;
$lightGreen: #EAF0ED;
$darkGreen: #2C4832;
$secondary: #FFE180;
$grey: #8DA291;
$white: white;
$black: black;
/*font-size*/
$font-s: 1rem; /*16px*/
$font-m: 1.25rem; /*20px*/
$font-l: 1.5rem; /*24px*/
$font-xl: 2rem; /*32px*/
$font-xxl: 2.25rem; /*36px*/